<div>
    <div>
        <h3>Step 4: Work Experience</h3>
    </div>
    <div>
        <form>
            <div class="form-group">
                <label for="job1">Job 1:</label>
                <input type="text" class="form-control" id="job1" placeholder="Enter job 1">
            </div>
            <div class="form-group">
                <label for="job2">Job 2:</label>
                <input type="text" class="form-control" id="job2" placeholder="Enter job 2">
            </div>
            <div class="form-group">
                <label for="job3">Job 3:</label>
                <input type="text" class="form-control" id="job3" placeholder="Enter job 3">
            </div>
        </form>
        <button type="submit" class="btn btn-primary">Back</button>
        <button type="submit" class="btn btn-primary">Finished</button>
    </div>
</div>